################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/api-sql-intro/FileContentIndex
/.vs/api-sql-intro/v17/TestStore/0
